nav {
    margin-bottom: 200px;
    background-color: blue;
}

a.navbar-brand.navbar-logo {
    color: white;
}

i.fa-solid.fa-house::before {
    color: white;
}
a.nav-link.active {
    color: white;
}

i.fa-solid.fa-tag::before {
    color: white;
}

a.nav-link {
    color:  white;
}