.searchInput {
    display: flex;
    width: 400px;
}

.search {
    background-color: white;
    border: 0;
    border-radius: 2px;
    font-size: 18px;
    /* padding: 15px; */
    height: 30px;
    width: 400px;
}

.search input {
    width: 400px;
}

input:focus {
    outline: none;
}
.searchIcon {
    height: 30px;
    width: 40px;
    background-color: white;
    display: grid;
    place-items: center;
}


.suggestions{
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-top: 5px;
    box-shadow: black 0px 5px 7px;
    overflow: hidden;
    overflow-y: auto;
}
.suggestions::-webkit-scrollbar {
    display: none;
}

#clear {
    cursor: pointer;
}
.predictiveSearch button {
    background: none;
    border: none;
    cursor: pointer;
}

.predictiveSearch button:hover {
    text-decoration: underline;
}